body {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  color: black;
}

h1 {
  color: rgb(25, 135, 84);
  font-size: 60px;
  font-weight: bold;
}

.form-control {
  color: #fff;
  border-color: #333;
}

.btn-primary {
  background-color: rgb(25, 135, 84);
  border-color: rgb(25, 135, 84);

}

.btn-primary:hover {
  background-color: mediumseagreen;
}

.card {
  margin-top: 15px;
  border-color: black;
}

.card-title {
  color: rgb(25, 135, 84);
}

.card-text {
  color: #333;
}

#errorBox {
  margin-top: 15px;
}