body {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  color: black;
}

h1 {
  color: rgb(25, 135, 84);
  font-size: 60px;
  font-weight: bold;
}

p {
  font-size: 20px;
}


.btn-primary {
  background-color: rgb(25, 135, 84);
  border-color: rgb(25, 135, 84);

}

.btn-primary:hover {
  background-color: mediumseagreen;
}
